{% extends "dictionary/layout.html" %}

{% block content %}

<h3>Bewerking en digitalisering</h3>

<p>In 2015 zijn de eerste twee delen van het Woordenboek van de Limburgse Dialecten gedigitaliseerd 
  dankzij een subsidie die CLARIN heeft toegekend voor het project ‘CARE: CuRatie en integratie 
  REgionale woordenboeken’ onder leiding van Nicoline van der Sijs, Henk van den Heuvel en Roeland van Hout (RU).
</p>

<p>Eric Sanders (RU) heeft een macro en script ontworpen voor de semi-automatische digitalisering.
Onderzoeksassistent Aukje Borkent, projectmedewerkster datacuratie Linda van Meel, student-assistenten Jorik van Engeland en Inge Otto, 
  en stagiairs Maaike Borst en Eline Dimmendaal hebben alle teksten door de macro laten lezen en het 
  resultaat nauwkeurig handmatig gecorrigeerd. Vrijwilligers Jantien Kettenes-Van den Bosch en 
  Herman Wiltink hebben voor veel delen een voorcorrectie uitgevoerd.
</p>

<p>Joep Kruijsen, een van de oorspronkelijke redacteuren, heeft zijn enorme knowhow ter beschikking 
  gesteld voor de digitalisering en veel correctiewerkzaamheden uitgevoerd; zo heeft hij onder 
  andere alle fonetische tekens uit deel II gecorrigeerd. In 2017 zullen ook alle fonetische tekens 
  uit deel I worden gecorrigeerd; deze zitten nu nog ongecorrigeerd in de huidige applicatie.
</p>

<h3>Techniek</h3>
<p>De e-WLD-applicatie is ontwikkeld door Erwin Komen van de 
  Technical Support Group van het Humanities Lab van de Radboud Universiteit 
  onder supervisie van Henk van den Heuvel.</p>

{% endblock %}
