{% extends "dictionary/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>RU-wld</h1>
    <p class="lead">De "RU-wld" applicatie stelt geïnteresseerden in staat om het dialectenwoordenboek te doorzoeken dat is ontwikkeld aan de
  Radboud Universiteit Nijmegen. Op dit moment bevat het woordenboek ruim 4000 lexemen verzameld in ruim 300 Limburgse locaties. 
  Ieder lexeem bevat 
    This dictionary contains dialect words, each of which has a dialect identifier.
    Entries also contain a more generic Lemma.</p>
    <p><a href="https://catalog.clarin.eu/ds/ComponentRegistry" class="btn btn-primary btn-large">Lees verder &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
          De RU-wld applicatie is ontwikkeld aan de Technical Service Group van het Humanities Lab aan de Radboud University Nijmegen.
          Iedereen kan het woordenboek doorbladeren en doorzoeken via de knop <em>Zoeken</em>.
          Wie mee gaat werken aan de inhoud kan toegang vragen via onderstaande link.
        </p>
        <p><a class="btn btn-default" href="mailto:e.komen@let.ru.nl">Toegang &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Lexemen definiëren</h2>
        <p>Een lexeem uit een dialect kan ingevoerd of gewijzigd worden via de menukeuze <em>Bewerken</em>.
        </p>
        <p>De knop <em>Definities</em> leidt de gebruiker die daar rechten toe heeft tot een dashboard waarvandaan wijzigingen kunnen worden
      aangebracht in de definities van dialecten, lemma's, trefwoorden en lexemen. 
        </p>
        <p><a class="btn btn-default" href="mailto:e.komen@let.ru.nl">Ik heb een vraag &raquo;</a></p>
    </div>
</div>

{% endblock %}
