<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/content/site.css' %}" />
    <script src="{% static 'dictionary/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Woordenboek Limburgse Dialecten</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'definitions' %}">Definities</a></li>
                    <li><a href="{% url 'entries' %}">Bewerken</a></li>
                    <li><a href="{% url 'admin_entry_list' %}">Zoeken</a></li>
                    <li><a href="{% url 'about' %}">Informatie</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'dictionary/loginpartial.html' %}
            </div>
        </div>
    </div>
    <div class="container body-content">
    {% if overview_list %}
      <h3>Available entries</h3>
      <table class="table table-hover">
        <thead><tr><th>id</th><th>Identifier</th><th>Description</th></tr></thead>
        <tbody>
        {% for ent in overview_list %}
          <tr class="dict-entry">
            <td> {{ ent.id }} </td>
            <td class="entry-word">
              <div><a href="/{{app_prefix }}entry/{{ent.pk}}">{{ ent.woord}}</a></div>
              {% if ent.toelichting %}<div>({{ent.toelichting}})</div>{% endif %}
            </td>
            <td><span class="trefwoord">{{ent.trefwoord.woord}}</span>
              {% if ent.trefwoord.toelichting %}<span>({{ent.trefwoord.toelichting}})</span>{% endif %}
            </td>
            <td>Lemma: 
              <span class="lemma-name"><a href="/{{app_prefix }}lemma/{{ent.lemma.pk}}">{{ent.lemma.gloss}}</a> - </span>
              <span class="toelichting">{{ent.lemma.toelichting}}</span>
              <span class="lemma-bronnen">[{{ent.lemma.bronnelijst}}]</span>
            </td>
            <td>Dialect:
              <span class="kloeke-code"><a href="/{{app_prefix}}dialect/{{ent.dialect.pk}}">{{ent.dialect.code}}</a></span>
              (<span class="kloeke-code">{{ent.dialect.nieuw}}</span>)
              <span class="kloeke-stad">{{ent.dialect.stad}}</span>
              {% if ent.dialect.toelichting %}<span>({{ent.dialect.toelichting}})</span>{% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No entries are available.</p>
    {% endif %}
    </div>
    <script src="{% static 'dictionary/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'dictionary/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'dictionary/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>