    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">eWLD</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'lemmas' %}">Begrippen</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Ontwikkelaars <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'definitions' %}">Definities</a></li>
                        <li><a href="{% url 'entries' %}">Bewerken</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'admin_entry_list' %}">Dialectwoorden</a></li>
                      </ul>
                    </li>
                    {% endif %}
                </ul>
                <form name="lemmasearch" id="lemmasearch" class="navbar-form navbar-left"
                      action="{% url 'lemmasearch' %}">
                  <div class="form-group">
                    <input id="search" name="search" type="text" class="form-control" placeholder="Begrip">
                  </div>
                  <!-- <button type="submit" class="btn btn-default">Ga</button>-->
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Overzichten <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'dialects' %}">Dialecten</a></li>
                        <li><a href="{% url 'entries' %}">Mijnen</a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'about' %}">Informatie</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'dictionary/loginpartial.html' %}
            </div>
        </div>
    </div>
